#banner{
     position: relative;
     .arrows{
          position: absolute;
          z-index: 999;
          left: 50%;
          transform: translateX(-50%);
          bottom: 25px;
          i{
               @include slider_btn;
               transition: all ease-out .4s;
               background-color: rgba(255, 255, 255, 0.246);
          }
          i:hover{
               background-color: $hover-color;
               border: 1px solid transparent;
          }

     }
     .banner-main{
          .banner-item{                                
               position: relative; 
               .banner-img{
                    overflow: hidden;
                    img{
                         animation: scale 9s infinite;                        
                    }
                    @keyframes scale {
                         form{
                              transform: scale(1.0);
                              
                         }
                         to{
                              transform: scale(1.1);
                         }
                    }
               }               
               .banner-text{
                    position: absolute ;
                    top: 50%;    
                    z-index: 99; 
                    transform: translateY(-50%); 
                    h1{
                         color: $hover-color;
                         font-family: 'Raleway', sans-serif;
                         font-weight: 700;
                         font-size: 70px;
                         padding-bottom: 15px;

                    }
                    h2{
                         color: $header-colorh2;
                         font-weight: 400;
                         font-size: 40px;
                         padding-bottom: 25px;
                         text-transform: uppercase;
                    }
                    p{
                         color: #f1f1f1;
                         font-size:14px ;
                         font-family: 'Open Sans', sans-serif;
                         width: 480px;
                         line-height: 24px;
                         padding-bottom: 75px;

                    }  
                    .banner-btn{
                         a{
                              margin-right: 30px;
                              @include btn;
                              text-transform: uppercase;
                              border: 1px solid $white;
                              transition: all ease-out .5s;
                              position: relative;
                              z-index: 9;
                              background-color: rgba(0, 204, 255, 0.082);                             
                         }
                         a::after{
                              position: absolute;
                              top: 50%;
                              left: 50%;
                              transform: translate(-50%,-50%);
                              content: '';
                              background-color: $hover-color;
                              height: 0%;
                              width: 0%;
                              transition: all ease-out .4s;
                              z-index: -1;
                              border-radius: 3px;
                              

                         }
                         a:hover:after{
                              width: 100%;
                              height: 100%;
                         }
                         a:hover{
                              border: 1px solid transparent;
                         }

                    }                           
               }
               
          }
          .banner-item::after{
               position: absolute;
               top: 0;
               left: 0;
               content: '';
               height: 100%;
               width: 100%;
               background-color: rgba(0, 0, 0, 0.609);
          }        
          
     }
}